{% extends "todo.html" %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<h1 class="display-4 text-center text-dark "><b>Change {{ request.user.username }} Password</b></h1>
    <div class='container mt-5'>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input class='btn btn-primary' type='submit' value='Submit' >
        </form>
        <div>
            <a href='{% url "home" %}' class='btn btn-link mt-3'>Back to Home</a>
        </div>
    </div>
{% endblock content %}