{% extends "todo.html" %}
{% block title %}Password Reset Done{% endblock title %}
{% block content %}
<div class='container mt-5'>
    <h1 class='text-center'>Password Reset Request Successful</h1>
    <p class='text-center'>
        Thank you! If an account with that email address exists, you will receive an email shortly with instructions on how to reset your password. Please check your inbox (and your spam folder just in case) for the email.
        If you do not receive an email within a few minutes, please ensure that you entered the correct email address and try again.
    </p>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'login' %}";  // Redirect to the login page after 1 second
    }, 5000);  // 1000 milliseconds = 1 second
</script>  
{% endblock content %}