{% extends "todo.html" %}
{% block title %}Password Change Done{% endblock title %}
{% block content %}
<div class='container mt-5'>
    <h1 class='text-center'>Password Changed Successfully</h1>
    <p class='text-center'>Your password has been changed,You can use your new password to login</p>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'login' %}";  // Redirect to the login page after 1 second
    }, 1850);  // 1000 milliseconds = 1 second
</script>  
{% endblock content %}